<div class="bg">
    <div class="container">
    	<div class="span-8 append-11" id="title">
    	<h6>Campaign:&nbsp;&nbsp;<span style="color:#999">GDS万国数据-中国高可用IT服务杰出供应商</span></h6>
        <h6>Time:&nbsp;&nbsp;<span style="color:#999">2012-6-12</span></h6>
    </div>
        <div class="span-4" id="logo">
    	<img src="./img/logo.png" />
        </div>

  <div class="span-20  prepend-4" id="content">
        	<h2>GDS万国数据-中国高可用IT服务杰出供应商</h2>
            <%= render 'form' %>
      </div>
  </div>

</div>

